/* Genel stiller */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sayfanın tam ortasında içerik gösterir */
}

/* Header stilleri */
header {
    background-color: #FF7F00; /* Mavi arka plan */
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
}

/* Container stilleri */
.container {
    text-align: center;
    margin: 20px;
}

/* Buton stilleri */
.button {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    background-color: #0e243b;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    position: relative;
    overflow: hidden;
}

/* Buton hover durumu */
.button:hover {
    background-color: #0056b3; /* Renk değişimi */
    transform: translateY(-2px); /* Yukarı doğru kayma efekti */
}

/* Buton aktif durumu */
.button:active {
    transform: translateY(1px); /* Aşağı doğru kayma efekti */
}

/* Footer stilleri */
footer {
    margin-top: auto; /* Footer sayfanın en altında görünür */
    padding: 10px;
    text-align: center;
    width: 100%;
    background-color: #f1f1f1; /* Açık gri arka plan */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
}
